/* Navigation Section  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 10px;
}




/* Home Section  */
#home{
    height: 440px;
    padding: 3px 55px
}
#home::before{
    height: 450px;
}
#home p{
    font-size: 0.8rem;
}





/* Services Section  */
#services{
    flex-direction: column;
}
#sercices .box{
    margin: 10px 12px;
}
#services .box img{
    height: 100px;
}




/* Clients Section  */
#Clients{
    flex-wrap: wrap;
}
#Clients img{
    width: 66px;
    height: 44px;
}
#client-section::before {
    content: "";
    position: absolute;
    background: url(../Images/Logo/bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 85%;
    z-index: -1;
    opacity: 0.9;
}
/* Contact section  */
#contact::before{
    height: 84%;
}




/* Footer  */




/* Utility Classes */
.h-primary{
    font-size: 30px;
}
.btn{
    font-size: 13px;
    padding: 4px 9px;
    border-radius: 10px;
}